/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







#wrapper {
		border: 1px solid black;

}
#wrapper {
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	height: 1000px;
}

#header {
	display: block;
	width: 100%;
	background: seashell;


}

.top img {
	width: 120px;
}
#header a {
	display: inline-block;
	text-decoration: none;
	padding: 15px 10px;
	width: 160px;
	color: white;
}
#header a:hover {
	background: seashell;
	color: black;
}
.navbar {
	background: #dd8948;
}
#banner {
	display: block;
	width: 100%;
	height: 280px;
	padding: 20px 0px;
	background: seashell url(https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/17857286_1871680966438434_1886118864_n.jpg?oh=6c02210bcce370467e80d7b97e575982&oe=58EDFD16) no-repeat center;
	background-size: 1000px;
	margin: 10px 0 10px 0;

}
#banner a {
	text-decoration: none;
	color: white;
}
#banner h1 {
	font-size: 48px;
	padding: 40px;
}
#banner p {
	padding: 30px 200px;

}
#content {
	background: seashell;
}
.souprank h2 {
	background: #dd8948;
	padding: 20px 0;
}
.souprank p {
	padding: 40px 100px;
	line-height: 20px;
}
.soupimg img{
	margin: 10px;
	width: 700px;
}

.souprank h2 {
	font-size: 38px;
}

#footer {
	padding: 20px;
	margin: 20px 0;
	background: seashell;
}
#footer p{
	padding: 30px;
}

